.chat-box { //  Window - Profile - Toolbar - TextArea - 2 dividers
  height: calc(100vh - 76px - 64px - 100px - 12px);
  background-color: #f9f9f9;
  overflow-y: auto;
  clear: right;
  .message {
    padding: 4px 18px 4px 4px; //  Scrollbar gutter
    // max-width: 100%;
    width: 100%;
    .md-avatar {
      margin: 0 4px 4px 4px;
    }
    .content {
      display: inline-block;
      word-break: break-all;
      max-width: calc(100% - 36px); //  Width minus avatar
      padding: 8px;
      //  Card styles
      background-color: white;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
    .receiver { border-radius: 0 8px 8px 8px; }
    .sender {
      border-radius: 8px 0 8px 8px;
      text-align: left;
    }

  }


  .md-avatar {
    vertical-align: top;
    // margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;

  }
  .md-paper {
    display: inline-block;
    word-break: break-all;
    max-width: calc(100% - 32px);
    padding: 8px;
    background-color: white;
    .received {
      border-radius: 0 8px 8px 8px;
    }
    span {
      font-size: 12px;
      font-weight: bold;
    }
  }
}
.md-text-field-container {
  height: 100px;
  max-height: 100px;
}
.md-text-field-multiline-container {
  max-height: 100px !important;
  width: 100%;
  margin-top: 0;
  overflow-y: none;
  .md-text-field {
    max-height: inherit;
    padding: 8px;
    textarea {
      max-height: inherit;
      overflow-y: auto;
    }
  }
}


.chat-avatar {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  height: 26px;
  width: 26px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  img {
    height: 100%;
    width: auto;
  }
}

.chat-msg {
  display: inline-block;
  word-break: break-all;
  max-width: calc(100% - 36px);
  padding: 8px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  .receiver {
    border-radius: 0 8px 8px 8px;
  }
  .sender {
    border-radius: 8px 0 8px 8px;
  }
}

/*

.chat-avatar {
  vertical-align: top;
  text-align: center;
  height: 24px;
  width: 24px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;

  img {
    height: 100%;
    width: auto;
  }

}

.chat-box .md-avatar {
    vertical-align: top;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

<style>…</style>
.md-list .md-avatar, .md-list .md-icon {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
<style>…</style>
.md-avatar--default {
    background: #616161;
    color: #f5f5f5;
}
<style>…</style>
.md-avatar--icon-sized {
    height: 24px;
    width: 24px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    display: inline-block;


*/
