.chat-box { //  Window - Profile - Toolbar - TextArea - 2 dividers
  height: calc(100vh - 76px - 64px - 100px - 12px);
  background-color: #f9f9f9;
  overflow-y: auto;
  //
  text-align:center;
  .chat-message {
    padding: 4px;
    margin-left:auto;
    margin-right:auto;
    max-width: 255px;
  }
  .md-avatar {
    vertical-align: top;
    // margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;

  }
  .md-paper {
    display: inline-block;
    word-break: break-all;
    // text-overflow: ellipsis;
    max-width: 215px;
    // max-width: (cald100%;
    padding: 8px;
    background-color: white;
    .received {
      border-radius: 0 8px 8px 8px;
    }
    span {
      font-size: 12px;
      font-weight: bold;
    }
  }
}
.md-text-field-container {
  height: 100px;
  max-height: 100px;
}
.md-text-field-multiline-container {
  max-height: 100px !important;
  width: 100%;
  margin-top: 0;
  overflow-y: none;
  .md-text-field {
    max-height: inherit;
    padding: 8px;
    textarea {
      max-height: inherit;
      overflow-y: auto;
    }
  }
}
