#grid-wrapper {
  padding: 16px;
  margin: 0;
  .react-grid-Container {
    min-width: 300px;
    max-width: 100%;
  }
  .form-group {
    display: flex;
    input {
      width: 100%;
    }
  }
  // .form-control {
  //
  // }
  // .react-grid-Row {
  //   min-height: 100px;
  // }
}
