#grid-wrapper {
  padding: 16px;
  margin: 0;
  .react-grid-Grid {
    height: 80vh;
  }
  .react-grid-Container {
    min-width: 300px;
    max-width: 100%;
  }
  .react-grid-Toolbar {
    height: 0;
    padding: 0;
    border: none;
    .tools {
      display: block;
    }
  }
  .form-group {
    display: flex;
    input {
      width: 100%;
    }
  }
  .react-grid-Header {
    font-weight: bold;
  }
}
