* {  /* Normalize */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
::-webkit-scrollbar {
  background: transparent;  /* optional: just make scrollbar invisible */
  // width: 1px;  /* remove scrollbar space */
}
// html {
//     overflow: scroll;
//     overflow-x: hidden;
// }


/* Desktop:
md-paper md-paper--1 md-drawer md-drawer--left md-drawer--fixed md-drawer--active md-transition--decceleration md-background--card
*/

/* Mobile:
md-paper md-paper--5 md-drawer md-drawer--left md-drawer--fixed md-drawer--active md-transition--decceleration md-background--card
*/
